@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.mainbg {
  background-image: url("/assets/mainbg.jpg");
}

.smooth-entry {
  animation-name: entry;
  animation-duration: 0.25s;
}

@keyframes entry {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.1;
  }

  15% {
    opacity: 0.2;
  }

  25% {
    opacity: 0.25;
  }

  35% {
    opacity: 0.35;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}